workflows/ocr.json
{
  "meta": {
    "instanceId": "ocr_pipeline"
  },
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutes": 5
            }
          ]
        }
      },
      "id": "trigger-node",
      "name": "Every 5 Mins",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "bucketName": "your-input-bucket",
        "returnAll": true,
        "options": {}
      },
      "id": "s3-list",
      "name": "S3 List Files",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [200, 300],
      "credentials": {
        "awsS3Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "AWS Connection"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-files",
      "name": "Loop Files",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [400, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.LAMBDA_STATE_MANAGER_URL }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "awsApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operation\": \"GET\",\n  \"file_name\": \"{{ $('Loop Files').item.json.Key }}\"\n}",
        "options": {}
      },
      "id": "lambda-get-state",
      "name": "Get State from Lambda",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 300],
      "credentials": {
        "awsApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "AWS Connection"
        }
      }
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "id": "rule_is_new",
              "name": "Is New or Empty",
              "rule": {
                "parameters": [
                  {
                    "id": "cond_empty",
                    "name": "State is Empty",
                    "operator": {
                      "type": "string",
                      "operation": "isEmpty"
                    },
                    "value": "={{ $json.body.state }}"
                  }
                ]
              },
              "output": 0
            },
            {
              "id": "rule_pending_ocr",
              "name": "Pending OCR",
              "rule": {
                "parameters": [
                  {
                    "id": "cond_ocr",
                    "name": "State matches OCR",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "value": "PENDING_OCR"
                    },
                    "value": "={{ $json.body.state }}"
                  }
                ]
              },
              "output": 0
            },
            {
              "id": "rule_pending_translation",
              "name": "Pending Translation",
              "rule": {
                "parameters": [
                  {
                    "id": "cond_trans",
                    "name": "State matches Trans",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "value": "PENDING_TRANSLATION"
                    },
                    "value": "={{ $json.body.state }}"
                  }
                ]
              },
              "output": 1
            }
          ]
        }
      },
      "id": "state-router",
      "name": "State Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [800, 300],
      "notes": "Output 0: Needs OCR\nOutput 1: Needs Translation"
    },
    {
      "parameters": {
        "operation": "download",
        "bucketName": "your-input-bucket",
        "fileKey": "={{ $('Loop Files').json.Key }}",
        "options": {}
      },
      "id": "s3-download",
      "name": "S3 Download File",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [1000, 100],
      "credentials": {
        "awsS3Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "AWS Connection"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "https://api.mistral.ai/v1/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"pixtral-12b-2409\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"Extract all text from this image. Return ONLY the raw text, no formatting or explanations.\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:{{ $json.mimeType }};base64,{{ $binary.data.data }}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"temperature\": 0\n}",
        "options": {}
      },
      "id": "mistral-ocr",
      "name": "Mistral OCR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_MISTRAL_CREDENTIAL_ID",
          "name": "Mistral API"
        }
      }
    },
    {
      "parameters": {
        "modelId": "mistral.mistral-large-2402-v1:0",
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "You are a professional translator. \n1. Check the language of the input.\n2. If it is NOT German, translate it to German.\n3. If it IS German, output it as-is.\n4. Output ONLY the final text.\n\nInput:\n{{ $json.content || $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bedrock-translate",
      "name": "Bedrock Translate",
      "type": "n8n-nodes-base.awsBedrock",
      "typeVersion": 1,
      "position": [1400, 300],
      "credentials": {
        "aws": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "AWS Connection"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-text",
              "name": "content",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-ocr-text",
      "name": "Extract OCR Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1400, 100]
    },
    {
      "parameters": {
        "url": "={{ $env.LAMBDA_STATE_MANAGER_URL }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "awsApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operation\": \"UPDATE\",\n  \"file_name\": \"{{ $('Loop Files').item.json.Key }}\",\n  \"new_state\": \"PENDING_CLASSIFICATION\",\n  \"metadata\": {\n    \"ocr_completed_at\": \"{{ $now.toISO() }}\",\n    \"text_length\": {{ $json.content.length }}\n  }\n}",
        "options": {}
      },
      "id": "lambda-update-after-ocr",
      "name": "Update State: OCR Done",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 100],
      "credentials": {
        "awsApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "AWS Connection"
        }
      }
    },
    {
      "parameters": {
        "modelId": "mistral.mistral-large-2402-v1:0",
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "=You are a document classifier. Analyze the following text and classify it into a category and subcategory.\n\nReturn ONLY a JSON object with this exact structure:\n{\n  \"category\": \"<main category>\",\n  \"subcategory\": \"<specific subcategory>\"\n}\n\nUse clear, filesystem-safe names (lowercase, hyphens instead of spaces).\n\nText to classify:\n{{ $json.content }}"
            }
          ]
        },
        "options": {
          "temperature": 0
        }
      },
      "id": "bedrock-classify",
      "name": "Bedrock Classify",
      "type": "n8n-nodes-base.awsBedrock",
      "typeVersion": 1,
      "position": [1800, 100],
      "credentials": {
        "aws": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "AWS Connection"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "category",
              "name": "category",
              "value": "={{ JSON.parse($json.content).category }}",
              "type": "string"
            },
            {
              "id": "subcategory",
              "name": "subcategory",
              "value": "={{ JSON.parse($json.content).subcategory }}",
              "type": "string"
            },
            {
              "id": "original-text",
              "name": "text",
              "value": "={{ $('Extract OCR Text').item.json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-classification",
      "name": "Extract Classification",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2000, 100]
    },
    {
      "parameters": {
        "url": "={{ $env.LAMBDA_STATE_MANAGER_URL }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "awsApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operation\": \"UPDATE\",\n  \"file_name\": \"{{ $('Loop Files').item.json.Key }}\",\n  \"new_state\": \"PENDING_TRANSLATION\",\n  \"metadata\": {\n    \"classification_completed_at\": \"{{ $now.toISO() }}\",\n    \"category\": \"{{ $json.category }}\",\n    \"subcategory\": \"{{ $json.subcategory }}\"\n  }\n}",
        "options": {}
      },
      "id": "lambda-update-after-classification",
      "name": "Update State: Classification Done",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 100],
      "credentials": {
        "awsApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "AWS Connection"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "={{ $env.S3_BUCKET_NAME }}",
        "fileName": "={{ $('Extract Classification').item.json.category }}/{{ $('Extract Classification').item.json.subcategory }}/{{ $('Loop Files').item.json.Key.split('/').pop() }}",
        "fileContent": "={{ $json.content }}",
        "options": {
          "contentType": "text/plain"
        }
      },
      "id": "s3-upload-result",
      "name": "S3 Upload Result",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [2600, 300],
      "credentials": {
        "awsS3Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "AWS Connection"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.LAMBDA_STATE_MANAGER_URL }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "awsApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operation\": \"UPDATE\",\n  \"file_name\": \"{{ $('Loop Files').item.json.Key }}\",\n  \"new_state\": \"COMPLETED\",\n  \"metadata\": {\n    \"translation_completed_at\": \"{{ $now.toISO() }}\",\n    \"final_text_length\": {{ $json.content.length }},\n    \"output_path\": \"{{ $('Extract Classification').item.json.category }}/{{ $('Extract Classification').item.json.subcategory }}/{{ $('Loop Files').item.json.Key.split('/').pop() }}\"\n  }\n}",
        "options": {}
      },
      "id": "lambda-update-complete",
      "name": "Update State: Completed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2800, 300],
      "credentials": {
        "awsApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "AWS Connection"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.LAMBDA_STATE_MANAGER_URL }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "awsApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operation\": \"UPDATE\",\n  \"file_name\": \"{{ $('Loop Files').item.json.Key }}\",\n  \"new_state\": \"PENDING_OCR\",\n  \"metadata\": {\n    \"discovered_at\": \"{{ $now.toISO() }}\",\n    \"file_size\": {{ $('Loop Files').item.json.Size || 0 }}\n  }\n}",
        "options": {}
      },
      "id": "lambda-mark-new",
      "name": "Mark as New File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 0],
      "credentials": {
        "awsApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "AWS Connection"
        }
      }
    }
  ],
  "connections": {
    "Every 5 Mins": {
      "main": [
        [
          {
            "node": "S3 List Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3 List Files": {
      "main": [
        [
          {
            "node": "Loop Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Files": {
      "main": [
        [
          {
            "node": "Get State from Lambda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get State from Lambda": {
      "main": [
        [
          {
            "node": "State Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "State Router": {
      "main": [
        [
          {
            "node": "Mark as New File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Bedrock Translate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as New File": {
      "main": [
        [
          {
            "node": "S3 Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3 Download File": {
      "main": [
        [
          {
            "node": "Mistral OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral OCR": {
      "main": [
        [
          {
            "node": "Extract OCR Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract OCR Text": {
      "main": [
        [
          {
            "node": "Update State: OCR Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update State: OCR Done": {
      "main": [
        [
          {
            "node": "Bedrock Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bedrock Classify": {
      "main": [
        [
          {
            "node": "Extract Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Classification": {
      "main": [
        [
          {
            "node": "Update State: Classification Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update State: Classification Done": {
      "main": [
        [
          {
            "node": "Bedrock Translate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bedrock Translate": {
      "main": [
        [
          {
            "node": "S3 Upload Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3 Upload Result": {
      "main": [
        [
          {
            "node": "Update State: Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
