workflows/ocr.json
{
  "meta": {
    "instanceId": "ocr_pipeline"
  },
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutes": 5
            }
          ]
        }
      },
      "id": "trigger-node",
      "name": "Every 5 Mins",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "bucketName": "={{ $env.S3_BUCKET_NAME }}",
        "returnAll": false,
        "limit": 100,
        "options": {}
      },
      "id": "s3-list",
      "name": "S3 List Files",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [200, 300],
      "credentials": {
        "awsS3Api": {
          "name": "AWS S3"
        }
      }
    },
    {
      "parameters": {
        "batchSize": "={{ parseInt($env.BATCH_SIZE) || 5 }}",
        "options": {}
      },
      "id": "loop-files",
      "name": "Loop Files",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [400, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.LAMBDA_STATE_MANAGER_URL }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "awsApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operation\": \"GET\",\n  \"file_name\": \"{{ $('Loop Files').item.json.Key }}\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "lambda-get-state",
      "name": "Get State from Lambda",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 300],
      "credentials": {
        "awsApi": {
          "name": "AWS API"
        }
      }
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "id": "rule_is_new",
              "name": "Is New or Empty",
              "rule": {
                "parameters": [
                  {
                    "id": "cond_empty",
                    "name": "State is Empty",
                    "operator": {
                      "type": "string",
                      "operation": "isEmpty"
                    },
                    "value": "={{ $json.body.state }}"
                  }
                ]
              },
              "output": 0
            },
            {
              "id": "rule_pending_ocr",
              "name": "Pending OCR",
              "rule": {
                "parameters": [
                  {
                    "id": "cond_ocr",
                    "name": "State matches OCR",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "value": "PENDING_OCR"
                    },
                    "value": "={{ $json.body.state }}"
                  }
                ]
              },
              "output": 0
            },
            {
              "id": "rule_pending_classification",
              "name": "Pending Classification",
              "rule": {
                "parameters": [
                  {
                    "id": "cond_classification",
                    "name": "State matches Classification",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "value": "PENDING_CLASSIFICATION"
                    },
                    "value": "={{ $json.body.state }}"
                  }
                ]
              },
              "output": 0
            },
            {
              "id": "rule_pending_translation",
              "name": "Pending Translation",
              "rule": {
                "parameters": [
                  {
                    "id": "cond_trans",
                    "name": "State matches Translation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "value": "PENDING_TRANSLATION"
                    },
                    "value": "={{ $json.body.state }}"
                  }
                ]
              },
              "output": 1
            },
            {
              "id": "rule_completed",
              "name": "Completed (Skip)",
              "rule": {
                "parameters": [
                  {
                    "id": "cond_completed",
                    "name": "State is Completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "value": "COMPLETED"
                    },
                    "value": "={{ $json.body.state }}"
                  }
                ]
              },
              "output": 2
            }
          ]
        },
        "options": {
          "fallbackOutput": 3
        }
      },
      "id": "state-router",
      "name": "State Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [800, 300],
      "notes": "Output 0: Needs OCR/Classification\nOutput 1: Needs Translation\nOutput 2: Completed (Skip)\nOutput 3: Error/Unknown State"
    },
    {
      "parameters": {
        "operation": "download",
        "bucketName": "={{ $env.S3_INPUT_BUCKET }}",
        "fileKey": "={{ $('Loop Files').item.json.Key }}",
        "options": {}
      },
      "id": "s3-download",
      "name": "S3 Download File",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [1000, 100],
      "credentials": {
        "awsS3Api": {
          "name": "AWS S3"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "https://api.mistral.ai/v1/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.MISTRAL_MODEL || 'pixtral-12b-2409' }}\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"Extract all text from this image. Return ONLY the raw text, no formatting or explanations.\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:{{ $json.mimeType }};base64,{{ $binary.data.data }}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"temperature\": 0,\n  \"max_tokens\": {{ parseInt($env.MISTRAL_MAX_TOKENS) || 4096 }}\n}",
        "options": {
          "timeout": 60000,
          "retry": {
            "enabled": true,
            "maxRetries": 3,
            "waitBetweenRetries": 1000
          }
        }
      },
      "id": "mistral-ocr",
      "name": "Mistral OCR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 100],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Mistral API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "aws",
        "url": "=https://bedrock-runtime.{{ $env.AWS_REGION || 'us-east-1' }}.amazonaws.com/model/{{ $env.BEDROCK_MODEL || 'mistral.mistral-large-2402-v1:0' }}/invoke",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are a professional translator.\\n1. Check the language of the input.\\n2. If it is NOT {{ $env.TARGET_LANGUAGE || 'German' }}, translate it to {{ $env.TARGET_LANGUAGE || 'German' }}.\\n3. If it IS {{ $env.TARGET_LANGUAGE || 'German' }}, output it as-is.\\n4. Output ONLY the final text.\\n\\nInput:\\n{{ $json.content }}\"\n    }\n  ],\n  \"max_tokens\": 4096,\n  \"temperature\": 0.1\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "bedrock-translate",
      "name": "Bedrock Translate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 300],
      "credentials": {
        "aws": {
          "name": "AWS"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-translation",
              "name": "content",
              "value": "={{ $json.choices?.[0]?.message?.content || $json.content?.[0]?.text || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-translation-response",
      "name": "Extract Translation Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1600, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-text",
              "name": "content",
              "value": "={{ $json.choices?.[0]?.message?.content || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-ocr-text",
      "name": "Extract OCR Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1400, 100]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ocr-tmp-key",
              "name": "ocrTmpKey",
              "value": "={{ 'tmp/ocr/' + $now.toUnix() + '-' + $('Loop Files').item.json.Key.split('/').pop() + '.txt' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-ocr-tmp-key",
      "name": "Set OCR Tmp Key",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1600, 0]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "={{ $env.S3_BUCKET_NAME }}",
        "fileName": "={{ $json.ocrTmpKey }}",
        "fileContent": "={{ $('Extract OCR Text').item.json.content }}",
        "options": {
          "contentType": "text/plain",
          "prefix": "tmp"
        }
      },
      "id": "s3-upload-ocr-tmp",
      "name": "Upload OCR Tmp",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [1800, 0],
      "credentials": {
        "awsS3Api": {
          "name": "AWS S3"
        }
      }
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "aws",
        "url": "=https://bedrock-runtime.{{ $env.AWS_REGION || 'us-east-1' }}.amazonaws.com/model/{{ $env.BEDROCK_MODEL || 'mistral.mistral-large-2402-v1:0' }}/invoke",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are a document classifier. Analyze the following text and classify it into a category and subcategory.\\n\\nReturn ONLY a JSON object with this exact structure:\\n{\\n  \\\"category\\\": \\\"<main category>\\\",\\n  \\\"subcategory\\\": \\\"<specific subcategory>\\\"\\n}\\n\\nUse clear, filesystem-safe names (lowercase, hyphens instead of spaces).\\n\\nText to classify:\\n{{ $json.content }}\"\n    }\n  ],\n  \"max_tokens\": 1024,\n  \"temperature\": 0\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "bedrock-classify",
      "name": "Bedrock Classify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 100],
      "credentials": {
        "aws": {
          "name": "AWS"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-classify",
              "name": "content",
              "value": "={{ $json.choices?.[0]?.message?.content || $json.content?.[0]?.text || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-classify-response",
      "name": "Extract Classify Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2000, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "category",
              "name": "category",
              "value": "={{ (function() { try { return JSON.parse($json.content).category || 'uncategorized'; } catch(e) { return 'uncategorized'; } })() }}",
              "type": "string"
            },
            {
              "id": "subcategory",
              "name": "subcategory",
              "value": "={{ (function() { try { return JSON.parse($json.content).subcategory || 'general'; } catch(e) { return 'general'; } })() }}",
              "type": "string"
            },
            {
              "id": "original-text",
              "name": "text",
              "value": "={{ $('Extract OCR Text').item.json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-classification",
      "name": "Extract Classification",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2000, 100]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "classification-tmp-key",
              "name": "classificationTmpKey",
              "value": "={{ 'tmp/classification/' + $now.toUnix() + '-' + $('Loop Files').item.json.Key.split('/').pop() + '.json' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-classification-tmp-key",
      "name": "Set Classification Tmp Key",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2200, 0]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "={{ $env.S3_TMP_BUCKET_NAME || $env.S3_BUCKET_NAME }}",
        "fileName": "={{ $json.classificationTmpKey }}",
        "fileContent": "={{ $('Extract Classify Response').item.json.content || '' }}",
        "options": {
          "contentType": "application/json"
        }
      },
      "id": "s3-upload-classification-tmp",
      "name": "Upload Classification Tmp",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [2400, 0],
      "credentials": {
        "awsS3Api": {
          "name": "AWS S3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "translation-tmp-key",
              "name": "translationTmpKey",
              "value": "={{ 'tmp/translation/' + $now.toUnix() + '-' + $('Loop Files').item.json.Key.split('/').pop() + '.txt' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-translation-tmp-key",
      "name": "Set Translation Tmp Key",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2400, 300]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "={{ $env.S3_TMP_BUCKET_NAME || $env.S3_BUCKET_NAME }}",
        "fileName": "={{ $json.translationTmpKey }}",
        "fileContent": "={{ $json.content || $json.data }}",
        "options": {
          "contentType": "text/plain"
        }
      },
      "id": "s3-upload-translation-tmp",
      "name": "Upload Translation Tmp",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [2600, 300],
      "credentials": {
        "awsS3Api": {
          "name": "AWS S3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "resume-category",
              "name": "category",
              "value": "={{ $json.body.metadata.category }}",
              "type": "string"
            },
            {
              "id": "resume-subcategory",
              "name": "subcategory",
              "value": "={{ $json.body.metadata.subcategory }}",
              "type": "string"
            },
            {
              "id": "resume-ocr-tmp",
              "name": "ocrTmpKey",
              "value": "={{ $json.body.metadata.ocr_tmp_path }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "load-state-metadata",
      "name": "Load State Metadata",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1000, 500]
    },
    {
      "parameters": {
        "operation": "download",
        "bucketName": "={{ $env.S3_TMP_BUCKET_NAME || $env.S3_BUCKET_NAME }}",
        "fileKey": "={{ $json.ocrTmpKey }}",
        "options": {}
      },
      "id": "s3-download-ocr-tmp",
      "name": "Download OCR Tmp",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [1200, 500],
      "credentials": {
        "awsS3Api": {
          "name": "AWS S3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "resume-content",
              "name": "content",
              "value": "={{ $json.data }}",
              "type": "string"
            },
            {
              "id": "resume-category",
              "name": "category",
              "value": "={{ $('Load State Metadata').item.json.category }}",
              "type": "string"
            },
            {
              "id": "resume-subcategory",
              "name": "subcategory",
              "value": "={{ $('Load State Metadata').item.json.subcategory }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-translation-input-resume",
      "name": "Prepare Translation Input (Resume)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1400, 500]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "translation-input",
              "name": "content",
              "value": "={{ $('Extract OCR Text').item.json.content }}",
              "type": "string"
            },
            {
              "id": "translation-category",
              "name": "category",
              "value": "={{ $('Extract Classification').item.json.category }}",
              "type": "string"
            },
            {
              "id": "translation-subcategory",
              "name": "subcategory",
              "value": "={{ $('Extract Classification').item.json.subcategory }}",
              "type": "string"
            },
            {
              "id": "translation-ocr-tmp",
              "name": "ocrTmpKey",
              "value": "={{ $('Set OCR Tmp Key').item.json.ocrTmpKey }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-translation-input",
      "name": "Prepare Translation Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2400, 100]
    },
    {
      "parameters": {
        "url": "={{ $env.LAMBDA_STATE_MANAGER_URL }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "awsApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operation\": \"UPDATE\",\n  \"file_name\": \"{{ $('Loop Files').item.json.Key }}\",\n  \"new_state\": \"PENDING_CLASSIFICATION\",\n  \"metadata\": {\n    \"ocr_completed_at\": \"{{ $now.toISO() }}\",\n    \"text_length\": {{ $('Extract OCR Text').item.json.content.length }},\n    \"ocr_tmp_path\": \"{{ $('Set OCR Tmp Key').item.json.ocrTmpKey }}\"\n  }\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "lambda-update-after-ocr",
      "name": "Update State: OCR Done",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 0],
      "credentials": {
        "awsApi": {
          "name": "AWS API"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.LAMBDA_STATE_MANAGER_URL }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "awsApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operation\": \"UPDATE\",\n  \"file_name\": \"{{ $('Loop Files').item.json.Key }}\",\n  \"new_state\": \"PENDING_TRANSLATION\",\n  \"metadata\": {\n    \"classification_completed_at\": \"{{ $now.toISO() }}\",\n    \"category\": \"{{ $('Extract Classification').item.json.category }}\",\n    \"subcategory\": \"{{ $('Extract Classification').item.json.subcategory }}\",\n    \"classification_tmp_path\": \"{{ $('Set Classification Tmp Key').item.json.classificationTmpKey }}\",\n    \"ocr_tmp_path\": \"{{ $('Set OCR Tmp Key').item.json.ocrTmpKey }}\"\n  }\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "lambda-update-after-classification",
      "name": "Update State: Classification Done",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2600, 100],
      "credentials": {
        "awsApi": {
          "name": "AWS API"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.LAMBDA_STATE_MANAGER_URL }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "awsApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operation\": \"UPDATE\",\n  \"file_name\": \"{{ $('Loop Files').item.json.Key }}\",\n  \"new_state\": \"COMPLETED\",\n  \"metadata\": {\n    \"translation_completed_at\": \"{{ $now.toISO() }}\",\n    \"final_text_length\": {{ ($json.content || $json.data || '').length }},\n    \"translation_tmp_path\": \"{{ $('Set Translation Tmp Key').item.json.translationTmpKey }}\",\n    \"output_path\": \"{{ ($json.category || $('Load State Metadata').item.json.category || $('Extract Classification').item.json.category) }}/{{ ($json.subcategory || $('Load State Metadata').item.json.subcategory || $('Extract Classification').item.json.subcategory) }}/{{ $('Loop Files').item.json.Key.split('/').pop() }}\"\n  }\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "lambda-update-complete",
      "name": "Update State: Completed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3000, 300],
      "credentials": {
        "awsApi": {
          "name": "AWS API"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.LAMBDA_STATE_MANAGER_URL }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "awsApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operation\": \"UPDATE\",\n  \"file_name\": \"{{ $('Loop Files').item.json.Key }}\",\n  \"new_state\": \"PENDING_OCR\",\n  \"metadata\": {\n    \"discovered_at\": \"{{ $now.toISO() }}\",\n    \"file_size\": {{ $('Loop Files').item.json.Size || 0 }}\n  }\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "lambda-mark-new",
      "name": "Mark as New File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 0],
      "credentials": {
        "awsApi": {
          "name": "AWS API"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "={{ $env.S3_BUCKET_NAME }}",
        "fileName": "={{ ($json.category || $('Load State Metadata').item.json.category || $('Extract Classification').item.json.category) }}/{{ ($json.subcategory || $('Load State Metadata').item.json.subcategory || $('Extract Classification').item.json.subcategory) }}/{{ $('Loop Files').item.json.Key.split('/').pop().replace(/\\.[^.]+$/, '.txt') }}",
        "fileContent": "={{ $('Extract Translation Response').item.json.content || '' }}",
        "options": {
          "contentType": "text/plain; charset=utf-8",
            "prefix": "outputs"
        }
      },
      "id": "s3-upload-result",
      "name": "S3 Upload Result",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [2800, 300],
      "credentials": {
        "awsS3Api": {
          "name": "AWS S3"
        }
      }
    }
  ],
  "connections": {
    "Every 5 Mins": {
      "main": [
        [
          {
            "node": "S3 List Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3 List Files": {
      "main": [
        [
          {
            "node": "Loop Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Files": {
      "main": [
        [
          {
            "node": "Get State from Lambda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get State from Lambda": {
      "main": [
        [
          {
            "node": "State Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "State Router": {
      "main": [
        [
          {
            "node": "Mark as New File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load State Metadata",
            "type": "main",
            "index": 0
          }
        ],
        [],
        []
      ]
    },
    "Mark as New File": {
      "main": [
        [
          {
            "node": "S3 Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3 Download File": {
      "main": [
        [
          {
            "node": "Mistral OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral OCR": {
      "main": [
        [
          {
            "node": "Extract OCR Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract OCR Text": {
      "main": [
        [
          {
            "node": "Set OCR Tmp Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set OCR Tmp Key": {
      "main": [
        [
          {
            "node": "Upload OCR Tmp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload OCR Tmp": {
      "main": [
        [
          {
            "node": "Update State: OCR Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update State: OCR Done": {
      "main": [
        [
          {
            "node": "Bedrock Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bedrock Classify": {
      "main": [
        [
          {
            "node": "Extract Classify Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Classify Response": {
      "main": [
        [
          {
            "node": "Extract Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Classification": {
      "main": [
        [
          {
            "node": "Set Classification Tmp Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Classification Tmp Key": {
      "main": [
        [
          {
            "node": "Upload Classification Tmp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Classification Tmp": {
      "main": [
        [
          {
            "node": "Update State: Classification Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update State: Classification Done": {
      "main": [
        [
          {
            "node": "Prepare Translation Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Translation Input": {
      "main": [
        [
          {
            "node": "Set Translation Tmp Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Translation Input (Resume)": {
      "main": [
        [
          {
            "node": "Set Translation Tmp Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Translation Tmp Key": {
      "main": [
        [
          {
            "node": "Bedrock Translate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bedrock Translate": {
      "main": [
        [
          {
            "node": "Extract Translation Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Translation Response": {
      "main": [
        [
          {
            "node": "Upload Translation Tmp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Translation Tmp": {
      "main": [
        [
          {
            "node": "S3 Upload Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3 Upload Result": {
      "main": [
        [
          {
            "node": "Update State: Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update State: Completed": {
      "main": [
        [
          {
            "node": "Loop Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load State Metadata": {
      "main": [
        [
          {
            "node": "Download OCR Tmp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download OCR Tmp": {
      "main": [
        [
          {
            "node": "Prepare Translation Input (Resume)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
